@import "../../../../../core/scss/variables";
@import "../../../../../core/scss/mixins";

.card-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em !important;
}

.content {
  margin-top: 2em;
}

.card-second-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 1em !important;
}

.card-third-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.3em !important;
}

.check-box {
  line-height: 32px !important;
}

.check-box2 {
  margin-top: 1.5em;
}

.check-box3 {
  margin-top: 0.5em;
}

.submit-button {
  background-color: $GRADIENT_TOP;
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 0.8em 1.5em;
  width: 10em;
  border: none;
  border-radius: 3em;
  z-index: 2;
  position: relative;
  top: -1em;
  left: 0.5em;
  margin-top: 4.5em;
  @include my-img-shadow();
}

.submit-button-inactive {
  font-size: 1em;
  padding: 0.8em 1.5em;
  width: 10em;
  border: none;
  border-radius: 3em;
  z-index: 2;
  position: relative;
  top: -1em;
  left: 0.5em;
  margin-top: 4.5em;
  color: gray;
}
