.card-title {
  font-size: 1.5em;
  font-weight: 400;
}

.card-title2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.checkbox {
  margin-top: 0.5em;
}

.prefix {
  color: grey;
  margin-right: 0.5em;
}

.input-icon {
  font-size: 1em;
  color: grey;
  padding-right: 0.2em;
  cursor: pointer;
}
