@import "../../../../../core/scss/variables";
@import "../../../../../core/scss/mixins";

.card-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

.edit-button {
  margin-top: 1.4em;
  color: $GREY_ICON_WHITE;
}

.list-item {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  padding: 1em 1em;
  border-radius: 5px;
  background-color: $GREY_BODY_BACKGROUND;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.item-title {
  text-overflow: ellipsis;
  width: 45%;
}

.item-end {
  position: absolute;
  right: 1em;
}

.list-icon {
  position: relative;
  top: 0.6em;
  margin-left: 0.7em;
  color: $GREY_ICON_WHITE;
  cursor: pointer;
}
