.card-container {
  background-color: white;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 2em;
  margin-bottom: 6em;
  padding: 1.5em 2em;
  height: 85vh;
  overflow-y: auto;
}

.hint-card-container {
  background-color: white;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 2em;
  margin-bottom: 6em;
  padding: 1.5em 2em 5em 1.5em;
  height: 85vh;
  overflow-y: auto;
}
