.card-title {
  font-size: 1.5em;
  font-weight: 400;
}

.check-box {
  position: relative;
  top: 1.4em;
  height: 1.9em;
}

.input-icon {
  font-size: 1em;
  color: grey;
  padding-right: 0.2em;
  cursor: pointer;
}
