@import "../../../../../core/scss/variables";
@import "../../../../../core/scss/mixins";

.card-title {
  font-size: 1.5em;
  font-weight: 400;
}

.quantityDetails:not(:first-of-type) {
  margin-top: 2em;
}

.fullWidthInput {
  width: 100%;
}

.clear-icon {
  position: relative;
  top: 0.7em;
  color: $GREY_ICON_WHITE;
  cursor: pointer;
}
