<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class='about-content'>
          <h2 class='title'>About Us - ilovou</h2>
          <div class='description-box'>
            <div class='description'>
              <h2 class='subtitle'>Our Mission</h2>
              <p class="text-muted">The mission of ilovou is to let its customers save money and discover more
                restaurants around them. At the same time bring up the business of restaurants.
              </p>
            </div>
            <div class='description'>
              <h2 class='subtitle'>Our Vision</h2>
              <p class="text-muted">The vision of ilovou is to connect people with restaurants and make them more
                productive and successful.
              </p>
            </div>
            <div class='description'>
              <h2 class='subtitle'>Our Vibe</h2>
              <p class="text-muted">At ilovou, we make magic. We dream it, and then do it-together-everyday reinventing
                what is possible.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-col">
          <img class='about-image' src="../../../../assets/home-style/img/about.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
