<header class='header-master'>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <img src="assets/home-style/img/vouchy-app-icon.png" class="vouchy-icon" style='width:100%;' alt="">
            <h1>Use Vouchy To Save <br>
              <div class="ms-slider">
                <ul class="ms-slider__words">
                  <li class="ms-slider__word">RM3</li>
                  <li class="ms-slider__word">RM4</li>
                  <li class="ms-slider__word">RM5</li>
                  <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
                  <li class="ms-slider__word">RM3</li>
                </ul>
              </div>
              Per Meal <br>
              <div class="ms-slider">
                <ul class="ms-slider__words">
                  <li class="ms-slider__word">RM279</li>
                  <li class="ms-slider__word">RM372</li>
                  <li class="ms-slider__word">RM465</li>
                  <!-- This last word needs to duplicate the first one to ensure a smooth infinite animation -->
                  <li class="ms-slider__word">RM279</li>
                </ul>
              </div>
              Per Month
            </h1>
            <a (click)="scroll('#download')" class="btn btn-outline btn-xl page-scroll">Get Vouchy Now!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait gold">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="assets/home-style/img/page1.png" class="img-responsive" style='width:100%;' alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
