@import "../../../../core/scss/variables";
@import "../../../../core/scss/mixins";

.card-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 2em;
}

.inputIcon {
  font-size: 1em;
  color: grey;
  padding-right: 0.2em;
  cursor: pointer;
}

.submit-button {
  border: none;
  border-radius: 3em;
  font-weight: bold;
  font-size: 1em;
  color: white;
  background-color: $GRADIENT_TOP;
  padding: 0.8em 1.5em;
  width: 10em;
  z-index: 2;
  position: absolute;
  bottom: 8em;
  @include my-img-shadow();
}

.submit-button-inactive {
  font-size: 1em;
  padding: 0.8em 1.5em;
  width: 10em;
  border: none;
  border-radius: 3em;
  z-index: 2;
  position: absolute;
  bottom: 8em;
}
