$GRADIENT_TOP: rgb(255, 149, 102);
$GRADIENT_BOTTOM: #ff7f65;
$GRADIENT_TOP_LIGHT: rgb(255, 188, 160);
$GRADIENT_TOP_EXAMPLE: #ffd0bc;
$GRADIENT_TOP_DARKER_EXAMPLE: #ff9a93;
$GRADIENT_LIGHT: #fcded7;
$GRADIENT_LIGHT_DARKER: #ffaa99;
$GREY_BODY_BACKGROUND: #f3f3f3;
$GREY_ICON_WHITE: #c7c7c7;
$GREY_ICON_WHITE_DARKER: #8e8e8e;
$GREY_ICON_GREY: #787878;
$GREY_TEXT_WHITE: #a0a0a0;
$GREY_TEXT_WHITE_DARKER: #636363;
$GREY_TEXT_GREY: #787878;
$GREY_LINE_GREY: #d7d7d7;
$GREY_BORDER_LINE: #dedede;
$GREY_SEARCHBAR: #f3f3f3;
$GREY_SEARCHBAR_ACTIVE: #e8e8e8;
$GREY_GRAB_BUTTON: #c4c1c1;
$RED_DOT: #ff3a3a;
