<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Unlimited Features, Unlimited Fun</h2>
          <p class="text-muted">Check out how much you can do with this app!</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <slideshow [height]="height" [minHeight]="'558px'" [autoPlay]="true" [showArrows]="false"
                  [imageUrls]="imageSources" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
                </slideshow>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid features-col">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item">
                <i class=" icon-star "></i>
                <h3>Voucher Purchase</h3>
                <p class="text-muted">Pick your favourite voucher and start saving money!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone"></i>
                <h3>Table Reservation</h3>
                <p class="text-muted">Reserving a table for you and your loved one is so fast and easy now</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item">
                <i class=" icon-emotsmile"></i>
                <h3>Food Ordering</h3>
                <p class="text-muted">Order your food on the way, and pick them up without querying up to pay</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-like"></i>
                <h3>Cashless</h3>
                <p class="text-muted">Cashless is super easy to set up, and security trusted</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
