@import "../../../../core/scss/variables";
@import "../../../../core/scss/mixins";

.card-title {
  font-size: 1.5em;
  font-weight: 400;
}

.restaurant-name {
  margin-top: 1.5em;
  width: 100%;
}

.check-box-area {
  padding-top: 0.35em;
}

.prefix {
  color: #a0a0a0;
  margin-right: 0.5em;
}

.input-icon {
  font-size: 1em;
  color: grey;
  padding-right: 0.2em;
  cursor: pointer;
}

.content {
  position: relative;
  top: 2.5em;
}

.content2 {
  position: relative;
  top: 4.5em;
}

.second-title {
  font-size: 1.5em;
  font-weight: 400;
}

.sub-title {
  font-weight: 500;
}

.day {
  margin-top: 1.5em;
  min-width: 2.5em;
}

.push-down {
  margin-bottom: 1.5em;
}

.clear-icon-fixed {
  position: relative;
  top: 0.7em;
  color: $GREY_ICON_WHITE;
  cursor: pointer;
}

.clear-icon {
  position: relative;
  top: 0.7em;
  right: 0.7em;
  color: $GREY_ICON_WHITE;
  cursor: pointer;
}

// Gallery
.upload-box-empty {
  border-radius: 5px;
  margin-top: 0.5em;
  border: 3px dashed $GREY_BORDER_LINE;
  width: 9.4em;
  height: 9.4em;
  background: white;
  object-fit: cover;
  cursor: pointer;
}

.uploaded-image {
  border-radius: 5px;
  margin-top: 0.5em;
  width: 9.4em;
  height: 9.4em;
  border: 1px solid $GREY_BORDER_LINE;
  background: white;
  object-fit: cover;
}

.image-box {
  position: relative;
}

.edit-icon-box {
  border-radius: 5px;
  background-color: $GREY_BORDER_LINE;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: -9.42em;
  right: 0em;
  opacity: 0.7;
  cursor: pointer;
}

.upload-icon {
  font-size: 2em;
  color: $GREY_ICON_WHITE;
  position: relative;
  left: 40%;
  top: 38%;
}

.edit-icon {
  font-size: 1.6em;
  position: relative;
  left: 17%;
  top: 19%;
  color: #5e5e5e;
}
