<section id="download" class="download bg-primary text-center">
  <div class="download-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-heading">Currently Available In <br>
            <div class='highlight'>
              <i class=" icon-location-pin"></i>Johor Bahru</div>
          </h2>
          <div class="badges">
            <a class="badge-link" target="_blank" rel="noopener noreferrer"
              href="https://play.google.com/store/apps/details?id=com.ilovou.vouchy">
              <img src="../../../../assets/home-style/img/google-play-badge.svg" alt="">
            </a>
            <a class="badge-link inactive">
              <img src="../../../../assets/home-style/img/app-store-badge-coming-soon.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
