<form [formGroup]='form' autocomplete="off">

  <div fxLayout='column'>

    <span class="card-title">Reservation Setting</span>

    <mat-checkbox fxFlex='60' color='primary' formControlName="reservationModel" (mouseenter)='hintSender(1)'>Open for
      reservation</mat-checkbox>

    <ng-container *ngIf='form.value.reservationModel'>
      <mat-form-field floatLabel='never'>
        <mat-select formControlName="maxReservationDay" placeholder="Max Reservation Day" (focus)='hintSender(2)'>
          <ngx-mat-select-search [formControl]="maxReserveDayFilterCtrl" [placeholderLabel]="'Search'"
            [noEntriesFoundLabel]="'no matching found'"></ngx-mat-select-search>
          <mat-option *ngFor="let item of filteredMaxReserveDay | async" [value]="item.value">
            {{item.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngFor='let validation of validation_messages.maxReservationDay'>
          <mat-error class="error-message" *ngIf="cfs.checkControl(form, validation, 'maxReservationDay')">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <div fxLayout='row' fxLayoutGap='2em'>
        <mat-form-field floatLabel='never' fxFlex='46'>
          <span matSuffix>Person &nbsp;</span>
          <input type="number" matInput placeholder="Minimum" formControlName='minPax' />
          <mat-error *ngFor='let validation of validation_messages.minPax'>
            <mat-error class="error-message" *ngIf="cfs.checkControl(form, validation, 'minPax')">{{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel='never' fxFlex='46'>
          <span matSuffix>Person &nbsp;</span>
          <input type="number" matInput placeholder="Maximum" formControlName='maxPax' />
          <mat-error *ngFor='let validation of validation_messages.maxPax'>
            <mat-error class="error-message" *ngIf="cfs.checkControl(form, validation, 'maxPax')">{{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <span class="card-second-title">Holidays Setting</span>

      <mat-checkbox fxFlex='60' class='checkbox' color='primary' formControlName="holidayModel"
        (mouseenter)='hintSender(3)'>Restaurant rest on specific holiday</mat-checkbox>

      <div formArrayName="holidays">
        <ng-container *ngFor='let item of holidaysControls.controls; let i=index'>
          <div formGroupName='{{i}}'>
            <div fxLayout='row' fxLayoutGap="1.5em">
              <mat-form-field floatLabel='never' fxFlex='40' fxFlex.sm='40' fxFlex.xs='40'>
                <input matInput placeholder="Holiday's Name" formControlName='holidayName' (focus)='hintSender(4)' />
                <mat-error *ngFor='let validation of validation_messages.holidayName'>
                  <mat-error class="error-message" *ngIf="cfs.checkControl(item, validation, 'holidayName')">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field floatLabel='never' class='picker' fxFlex='40' fxFlex.sm='40' fxFlex.xs='40'>
                <mat-icon class='inputIcon' matSuffix>event</mat-icon>
                <input [matDatepicker]="myDatepicker" matInput placeholder="Holiday Date" formControlName='holidayDate'
                  (focus)="myDatepicker.open()" onkeypress="return false;" autocomplete="off">
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error *ngFor='let validation of validation_messages.holidayDate'>
                  <mat-error class="error-message" *ngIf="cfs.checkControl(item, validation, 'holidayDate')">
                    {{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
              <div fxLayout='row' fxLayoutGap="1em">
                <ng-container *ngIf='i > 0'>
                  <mat-icon tappable flex='5' class='clear-icon' (click)='deleteHolidayDetails(i)'>delete</mat-icon>
                </ng-container>
                <ng-container *ngIf='i === 0'>
                  <mat-icon tappable flex='5' class='clear-icon' (click)='addHolidayDetails()'>add</mat-icon>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <span class="card-second-title">Extra Custom Remark</span>

      <mat-checkbox fxFlex='60' class='checkbox' color='primary' formControlName="hasDifferentRemark"
        (mouseenter)='hintSender(5)'>Has custom remark</mat-checkbox>

      <ng-container *ngIf='form.value.hasDifferentRemark'>
        <div formArrayName="remarkManual" fxLayout='column' fxLayoutGap="0em">
          <ng-container *ngFor='let parentItem of form.controls.remarkManual.controls; let i=index'>
            <div class='parentRemark' formGroupName='{{i}}' fxLayout='column' fxLayoutGap="-0.7em">
              <div fxLayout='row' fxLayoutGap="1em">

                <mat-form-field floatLabel='never' fxFlex='50'>
                  <input matInput placeholder="Remark's Title" formControlName='remarkTitle' (focus)='hintSender(6)' />
                  <mat-error *ngFor='let validation of validation_messages.remarkTitle'>
                    <mat-error class="error-message" *ngIf="cfs.checkControl(parentItem, validation, 'remarkTitle')">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>

                <mat-form-field floatLabel='never' fxFlex='30'>
                  <mat-select placeholder="Type" formControlName="remarkType" (focus)='hintSender(7)'>
                    <ng-container *ngFor='let item of typeList'>
                      <mat-option value={{item.value}}>
                        {{item.name}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error *ngFor='let validation of validation_messages.remarkType'>
                    <mat-error class="error-message" *ngIf="cfs.checkControl(parentItem, validation, 'remarkType')">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>

                <ng-container>
                  <div fxLayout='row' fxLayoutGap="1em">
                    <ng-container *ngIf='i > 0'>
                      <mat-icon tappable flex='5' class='clear-icon' (click)='deleteParent(i)'>delete</mat-icon>
                    </ng-container>
                    <ng-container *ngIf='i === 0'>
                      <mat-icon tappable flex='5' class='clear-icon' (click)='addParent()'>add</mat-icon>
                    </ng-container>
                  </div>
                </ng-container>
              </div>

              <div formArrayName="remarkDetails" fxLayout='column' fxLayoutGap="-1em">
                <ng-container
                  *ngFor='let childrenItem of form.controls.remarkManual.controls[i].controls.remarkDetails.controls; let j=index'>
                  <div formGroupName='{{j}}' fxLayout='column' fxLayoutGap="0em">
                    <div fxLayout='row' fxLayoutGap="1.5em">
                      <mat-form-field floatLabel='never' fxFlex='82'>
                        <input matInput placeholder="Selection" formControlName='remarkName' (focus)='hintSender(8)' />
                        <mat-error *ngFor='let validation of validation_messages.remarkName'>
                          <mat-error class="error-message"
                            *ngIf="cfs.checkControl(childrenItem, validation, 'remarkName')">
                            {{validation.message}}</mat-error>
                        </mat-error>
                      </mat-form-field>

                      <div fxLayout='row' fxLayoutGap="1em">
                        <ng-container *ngIf='j > 0'>
                          <mat-icon tappable flex='5' class='clear-icon' (click)='deleteChildren(i, j)'>delete
                          </mat-icon>
                        </ng-container>
                        <ng-container *ngIf='j === 0'>
                          <mat-icon tappable flex='5' class='clear-icon' (click)='addChildren(i)'>add</mat-icon>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <div class='space'></div>

    </ng-container>

    <ng-container *ngIf='isFormChanged'>
      <button
        [ngClass]="{'submit-button': form.valid && !needSpinner, 'submit-button-inactive': !form.valid || needSpinner}"
        (click)="updateReservationSettings()" [disabled]="!form.valid || needSpinner">
        <ng-container *ngIf='!needSpinner'>
          Update
        </ng-container>
        <ng-container *ngIf='needSpinner'>
          <mat-spinner class='spinner' diameter=19></mat-spinner>
        </ng-container>
      </button>
    </ng-container>

  </div>

</form>
